@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
@import url(http://fonts.googleapis.com/css?family=Palanquin+Dark:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {font-size: 1em;}

body {
  background-color: $white;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: $black;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Palanquin Dark, serif;
  font-weight: inherit;
  line-height: 1.2;
  color: $green
}

.denver {
  margin: 1.414em 0 0.5em;
  font-family: Lobster Two, serif;
  font-weight: inherit;
  line-height: 1.2;
  color: $gold;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-weight: 700;
  color: $purple;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

h5, h6 {
  font-weight: 600;
  color: $gold;
}

a {
  font-weight: bold;
  color: $purple;
}

small, .font_small {font-size: 0.707em;}
