extends ../layout

block content
  h1 Dashboard
  h2 Debbie Does Denver
  a(href="/admin/new") Create New Blog      |       
  a(href="/admin/show") Edit Old Blogs      |       
  a(href="/logout") Logout
