extends ../layout

block content
  form(action="/admin/login" method="post")
    h3 Login
    h5 Debbie Does Denver
    p
    input(type="text" name="user_name" placeholder="username")
    p
    input(type="password" name="password" placeholder="password")
    p
    input(type="submit" class="button" value="Login")
