extends ../layout

block content
  h2 Create A New Post
  form(action="/admin/new" method="post")
    input(type="text" name="title" placeholder="Title of Post")
    p
    input(type="date" name="date" placeholder="Post Date")
    p
    a.editor(href="/left") Left &nbsp;&nbsp;
    a.editor(href="/right") Right &nbsp;&nbsp;
    a.editor(href="/center") Center &nbsp;&nbsp;
    a.editor(href="/bold") Bold &nbsp;&nbsp;
    a.editor(href="/italic") Italic &nbsp;&nbsp;
    a.editor(href="/underline") Underline
    textarea(id="content" name="content" placeholder="Content of Post")
    p
    input(type="submit" class="button" value="Create")  
    p
    a(href="/admin") cancel
