extends layout

block content
  div.top
    img(src="/images/BackstretchSkyline.jpg" class="header")
    h1.title
      | Debbie <span class="does">Does</span> <span class="denver">Denver</span>
  p
  form(action='/about' method="post")
    input(type="submit" class="button" value="About") 
  p
  for blog in blogs
    div.post
      h3= blog.title
      p
      h5= blog.date
      hr
      div#post(style = 'white-space: pre-wrap') #{blog.content}
    div.space
  div.footer
    a(href="mailto:debbiedoesden@gmail.com") 
      img(src="/images/email-icon.png" class="email")
    a(href="/older" class="older") Older Posts >>>
