/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto; }

ul {
  list-style-type: circle;
  list-style-position: inside; }

ol {
  list-style-type: decimal;
  list-style-position: inside; }

html {
  font-size: 1em; }

body {
  background-color: #ECE5F0;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Palanquin Dark, serif;
  font-weight: inherit;
  line-height: 1.2;
  color: #003B36; }

.denver {
  margin: 0.8em 0 0.5em;
  font-family: Lobster Two, serif;
  font-weight: inherit;
  color: #E98A15;
  line-height: 0;
  transform: rotate(-10deg);
  position: absolute; }

h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-weight: 700;
  color: #59114D; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

h5, h6 {
  font-weight: 600;
  color: #E98A15; }

a {
  font-weight: bold;
  color: #59114D; }

small, .font_small {
  font-size: 0.707em; }

input {
  width: 100%;
  height: 40px;
  border: 2px solid #59114D;
  background-color: #ECE5F0;
  font-size: 16px;
  padding: 8px; }

select {
  height: auto;
  border: 2px solid #59114D;
  background-color: #ECE5F0;
  font-size: 16px;
  margin-left: 20px;
  color: #003B36; }

.button {
  width: 20%;
  color: #E98A15;
  font-size: 20px; }

.button:hover {
  cursor: pointer; }

textarea {
  height: 400px;
  width: 100%;
  border: 2px solid #59114D;
  background-color: #ECE5F0;
  font-size: 16px;
  padding: 8px; }

table {
  width: 100%; }
  table th {
    font-weight: bold;
    text-align: left; }
  table tr:nth-child(even) {
    background-color: rgba(0, 59, 54, 0.2);
    padding-left: 10px; }
